/* assets/css/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* small custom resets */
html, body { height: 100%; }
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
